[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

csv = "*"
numpy = "*"
sklearn = "*"
scipy = "*"
seaborn = "*"
matplotlib = "*"
statsmodels = "*"

[requires]

python_version = "2.7"
